### DATA STRUCTURE
1. TUPLE
2. LIST
3. DICTIONERY
4. SET

## 1. TUPLE
1. Ordered collection of Elements
2. Enclosed in round braces.
3. Once elements are stored cannot be change (immutable)
4. Different types of elements can be stored.

In [1]:
tup1 = (1,3,6,True, "Hureer", 15.78, False)

In [2]:
tup2 = (True, 11,5,99,"Saad", "Moon", 64.66)

In [4]:
print(tup1)
print(tup2)

(1, 3, 6, True, 'Hureer', 15.78, False)
(True, 11, 5, 99, 'Saad', 'Moon', 64.66)

A).  Adding two or more Tuples(this simply concat the two or more tuples)

In [5]:
print(tup1 + tup2)

(1, 3, 6, True, 'Hureer', 15.78, False, True, 11, 5, 99, 'Saad', 'Moon', 64.66)

B). Multiplying Tuples ( In multiplication this simply write that tuples no. of times).

In [6]:
print((tup2*3) + tup1)

(True, 11, 5, 99, 'Saad', 'Moon', 64.66, True, 11, 5, 99, 'Saad', 'Moon', 64.66, True, 11, 5, 99, 'Saad', 'Moon', 64.66, 1, 3, 6, True, 'Hureer', 15.78, False)

### Indexing works same for Tuples as well.

In [11]:
newTup = (20,34)
newTup2 = (11,22)
print(newTup[1])

34

c). Maximum from Tuple

In [12]:
max(newTup2)

22

D). Minimum from Tuple

In [13]:
min(newTup2)

11

---

## 2. LIST
1. Ordered List of Elements
2. contain elements of all types.
3. Lists are mutable
4. Enclosed in square brackets

In [15]:
list1 = (1,3,6,True, "Hureer", 15.78, False)
list2 = (True, 11,5,99,"Saad", "Moon", 64.66)

A). Concatenating List

In [16]:
print(list1 + list2)

(1, 3, 6, True, 'Hureer', 15.78, False, True, 11, 5, 99, 'Saad', 'Moon', 64.66)

B). Repetition of Same List

In [17]:
print(list1*3)

(1, 3, 6, True, 'Hureer', 15.78, False, 1, 3, 6, True, 'Hureer', 15.78, False, 1, 3, 6, True, 'Hureer', 15.78, False)

### Methods Of List

Abhi Parhny ha

---

## 3. DICTIONARY
- An unordered collection of elements
- key and values
- enclosed in curly braces
- Mutable/ cna change the values

In [17]:
dict1 = {"name" : "Usama", "age": 23, "quanlification": "Graduated", "Single": True}
dict1

{'name': 'Usama', 'age': 23, 'quanlification': 'Graduated', 'Single': True}

In [18]:
type(dict1)

dict

In [19]:
# Dictionary Methods
dict1_keys = dict1.keys()
dict1_keys

dict_keys(['name', 'age', 'quanlification', 'Single'])

A). Adding New Elements in dict1

In [20]:
dict1["gender"] = "Male"
dict1

{'name': 'Usama',
 'age': 23,
 'quanlification': 'Graduated',
 'Single': True,
 'gender': 'Male'}

B). Updating existing value in dict1

In [24]:
dict1["name"] = "Saad"
dict1

{'name': 'Saad',
 'age': 23,
 'quanlification': 'Graduated',
 'Single': True,
 'gender': 'Male'}

In [25]:
dict1["name", "age"] = ["Saad", 17] # This will create keys store in tuple and values store in list.
dict1

{'name': 'Saad',
 'age': 23,
 'quanlification': 'Graduated',
 'Single': True,
 'gender': 'Male',
 ('name', 'age'): ['Saad', 17]}

In [26]:
fruit = {"banana" : 12, "keenu" : 24, "apple": 3.5}
fruit

{'banana': 12, 'keenu': 24, 'apple': 3.5}

C). Concatenating Dictionaries

In [27]:
dict1.update(fruit)
dict1

{'name': 'Saad',
 'age': 23,
 'quanlification': 'Graduated',
 'Single': True,
 'gender': 'Male',
 ('name', 'age'): ['Saad', 17],
 'banana': 12,
 'keenu': 24,
 'apple': 3.5}

### 4. SETS
- UNORDERED AND unINDEXED
- Enclosed in curly braces
- No duplicates

In [40]:
# Set does not print Boolean and print duplications one at a time.
s1 = {1, 2, 4.2, 11.9, 13.6, "Ammad" , "Ammad", False, "Ubaid"}
s1

{1, 11.9, 13.6, 2, 4.2, 'Ammad', False, 'Ubaid'}

In [37]:
s1.add(9999999)
s1

{1, 11.9, 13.6, 2, 4.2, 9999999, 'Ammad', False, 'Ubaid'}

In [38]:
s1.remove("Ubaid")
s1

{1, 11.9, 13.6, 2, 4.2, 9999999, 'Ammad', False}