### Learning Pandas (Pannel Data Analysis)

+ Importing libraries

In [1]:
import pandas as pd
import numpy as np

#### Creating Series(column)

In [8]:
s1 = pd.Series([1,2,3,4,5,6,7])
s2 = pd.Series([22,46,6,98,11, np.nan, 33,12]) # "np.nan" creates empty cells..
print(s1, s2)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64 0    22.0
1    46.0
2     6.0
3    98.0
4    11.0
5     NaN
6    33.0
7    12.0
dtype: float64

#### Series from Date Range

In [10]:
# Date Starts from 2024/01/13
dateSeries = pd.date_range('20240113', periods=10) # period = 10, gives date of 10 days
dateSeries

DatetimeIndex(['2024-01-13', '2024-01-14', '2024-01-15', '2024-01-16',
               '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20',
               '2024-01-21', '2024-01-22'],
              dtype='datetime64[ns]', freq='D')

#### Created A Random DataSet

In [12]:
dataFrame = pd.DataFrame(np.random.randn(10, 8), index=dateSeries, columns=list("GHIJKZXQ"))
dataFrame

,G,H,I,J,K,Z,X,Q
2024-01-13,-0.665752,1.818835,0.364449,0.928058,0.037279,-0.253072,-0.714656,-1.056245
2024-01-14,-0.306063,-0.514778,0.510497,-0.250852,0.199103,1.288007,0.991673,0.888239
2024-01-15,-1.121018,1.790816,0.767471,1.238513,0.609299,-0.481751,1.200182,2.235091
2024-01-16,-0.213894,-0.238836,-0.673130,2.104919,2.554276,0.480805,-1.757173,-0.013303
2024-01-17,-0.229195,0.586458,0.383168,1.117644,-0.179007,0.622675,1.185666,0.691914
2024-01-18,-0.444996,0.412940,1.783074,-1.392727,0.545750,1.174736,0.426968,-0.993565
2024-01-19,-0.254464,1.158239,-1.517758,-0.746796,-0.142218,0.928409,-0.669945,-1.071008
2024-01-20,-0.462487,-0.553590,0.442906,0.434994,-0.411896,0.309444,0.413867,0.273324
2024-01-21,1.297951,-1.206043,-1.431329,1.012480,0.628294,0.014912,0.671566,0.063334
2024-01-22,0.098519,-0.671768,-1.107114,1.544251,0.553121,1.435072,0.148092,0.005268

1. Select DataSet Row-wise

In [21]:
# dataFrame[0:3] # starting from 0th index to (3-1) index
# dataFrame[2:4]  # starting from 2nd index to (4-1) index
dataFrame[2::2] # starting from 2nd index to the end skip 1 entry.

,G,H,I,J,K,Z,X,Q
2024-01-15,-1.121018,1.790816,0.767471,1.238513,0.609299,-0.481751,1.200182,2.235091
2024-01-17,-0.229195,0.586458,0.383168,1.117644,-0.179007,0.622675,1.185666,0.691914
2024-01-19,-0.254464,1.158239,-1.517758,-0.746796,-0.142218,0.928409,-0.669945,-1.071008
2024-01-21,1.297951,-1.206043,-1.431329,1.012480,0.628294,0.014912,0.671566,0.063334

In [2]:
print(pd.__version__)

2.2.2